spring:
    datasource:
        url: jdbc:postgresql://postgres:5432/postgres
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver
    graphql:
        graphiql:
            enabled: true
    jpa:
        properties:
            hibernate:
                order_inserts: true
                order_updates: true
                jdbc:
                    batch_size: 50
