name: Int-API Unit Test

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17.5
        ports:
          - "5432:5432"
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Wait for PostgreSQL
        run: |
          for i in {1..3}; do
            PGPASSWORD=postgres pg_isready -h localhost -U postgres && exit 0
            sleep 2
          done
          exit 1
      - name: Create tables for test DB
        run: |
          PGPASSWORD=postgres psql -h localhost -U postgres -d postgres -f spring/sql/ddl/ddl.sql
      - name: Run Unit Test
        env:
          SPRING_PROFILES_ACTIVE: cicd
        run: |
          cd spring
          ./gradlew test --no-daemon
      - name: Report Test Coverage
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: |
            ${{ github.workspace }}/spring/build/reports/jacoco/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          skip-if-no-changes: true
